<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>CUMTD Bus Visualizer</title>

    <!-- Refresh Every 60 seconds -->
    <meta http-equiv="refresh" content="60" >

  </head>
  <body>
    <div id="myTextDiv" style="color: white; position: absolute;">
      <h1>Hello World</h1>
    </div>
    <div id="map"></div>
    <script type="text/javascript">
      var map;
      function initMap() {
        var myLatLng = {lat: {{lat}}, lng: {{lon}}};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });

        var myTitle = document.createElement('h1');
        myTitle.style.color = 'black';
        myTitle.innerHTML = 'CUMTD Bus Visualizer';
        var myTextDiv = document.createElement('div');
        myTextDiv.appendChild(myTitle);

        map.controls[google.maps.ControlPosition.TOP_CENTER].push(myTextDiv);
        
        {% for x in points %}
          var infowindow_{{x['vehicle_id']}} = new google.maps.InfoWindow({
            content: "{{x['trip']['route_id'] if 'trip' in x else "ERROR"}} " + "{{x['trip']['direction'] if x['trip']['direction'] != "N/A"}}",
          });
          var marker_{{x['vehicle_id']}} = new google.maps.Marker({
            position: {lat: {{x['location']['lat']}}, lng: {{x['location']['lon']}}},
            map: map,
            title: 'Hello World!'
          });
          marker_{{x['vehicle_id']}}.setMap(map);
          marker_{{x['vehicle_id']}}.addListener('mouseover', function() {
            infowindow_{{x['vehicle_id']}}.open(map, marker_{{x['vehicle_id']}});
          });
          marker_{{x['vehicle_id']}}.addListener('mouseout', function() {
            infowindow_{{x['vehicle_id']}}.close();
          });
        {% endfor %}
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqooE8PCBSn-IkeQ37d3XHqMLwj0ULBqg&callback=initMap">
    </script>
    
  </body>
</html>